.MenuToggle{
    cursor: pointer;
    color: antiquewhite;
    z-index: 100;
    transition: opacity, left .2s ease-in;
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
}

.MenuToggle:hover{
    opacity: 0.4;
}

.MenuToggle.Open{
    left: 320px;
}